In [1]:
from freqml.download import *
from freqml import *
import pandas as pd
import sys
import math
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [2]:
df = read("ETH")

In [27]:
df = df[:1000]

In [30]:
df.iloc[1]

timestamp    2020-03-30 00:47:26.163000
id                                    1
side                                buy
price                            125.76
amount                              7.5
cost                              943.2
Name: 1, dtype: object

In [88]:
def f(x, y):
    if x == y:
        a = 1
    else:
        a = -1
    return a

In [93]:
int(False)

0

In [139]:
T = 10
df_extra = pd.DataFrame()

In [156]:
df_extra[df_extra==11]

88     11.0
200    11.0
286    11.0
346    11.0
462    11.0
484    11.0
522    11.0
542    11.0
558    11.0
576    11.0
656    11.0
670    11.0
738    11.0
750    11.0
820    11.0
836    11.0
850    11.0
874    11.0
890    11.0
962    11.0
dtype: float64

In [148]:
def tslice(x):
    global df_extra
    pennalty = 0
    for i in range(x.shape[0]):
        x[i] -= pennalty
        if x[i] > T:
            pennalty += T
    df_extra = x
    return 5

In [158]:
df["b"] = df["price"].iloc[1:] == df["price"].shift().iloc[1:]
df["b"] = df["b"].apply(lambda x: 1 if x else -1)
df["theta"] = df["b"].cumsum().abs()
#print(type(df["theta"].rolling(window=T)))
#df["theta"] = df["theta"].rolling(window=df.shape[0]).apply(tslice)
df_theta = df.groupby(np.floor(df["id"] / T))["b"].cumsum()

/home/zoltan/github/freqml/.env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/zoltan/github/freqml/.env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/zoltan/github/freqml/.env/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [105]:
df_theta.iloc[:10]

0    1
1    2
2    3
3    4
4    5
5    4
6    5
7    4
8    3
9    2
Name: b, dtype: int64

In [ ]:
# E[T]?, T = 10 (4+)

In [114]:
df[df["theta"] > 9]

,timestamp,id,side,price,amount,cost,b_i,b,theta
87,2020-03-30 00:48:12.544,87,buy,125.70,8.27200,1039.790400,-1,-1,10
88,2020-03-30 00:48:12.625,88,buy,125.71,5.63420,708.275282,-1,-1,11
89,2020-03-30 00:48:12.642,89,buy,125.71,2.68221,337.180619,1,1,10
93,2020-03-30 00:48:13.137,93,buy,125.71,0.19345,24.318600,-1,-1,10
94,2020-03-30 00:48:14.596,94,sell,125.70,1.00092,125.815644,-1,-1,11
...,...,...,...,...,...,...,...,...,...
995,2020-03-30 00:59:44.235,995,sell,125.63,0.22000,27.638600,-1,-1,206
996,2020-03-30 00:59:52.402,996,buy,125.64,0.30497,38.316431,-1,-1,207
997,2020-03-30 00:59:52.402,997,buy,125.66,1.81301,227.822837,-1,-1,208
998,2020-03-30 00:59:52.402,998,buy,125.67,7.98202,1003.100453,-1,-1,209
999,2020-03-30 00:59:52.842,999,buy,125.66,0.09603,12.067130,-1,-1,210

In [163]:
df[["theta"]].iloc[80:90]

    theta
80      7
81      6
82      7
83      6
84      7
85      8
86      9
87     10
88     11
89     10

In [71]:
df["b_i"] = df["price"].apply(lambda x: f(x), axis=0)

TypeError: <lambda>() got an unexpected keyword argument 'axis'

In [56]:
df["b_i"]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
995   NaN
996   NaN
997   NaN
998   NaN
999   NaN
Name: b_i, Length: 1000, dtype: float64